:root {
  --first-color: #76aeb4;
  --second-color: #76b49b;
  --second-color-faded: rgba(88, 135, 116, 0.5);
}

.App {
  text-align: center;
  margin: 90px;
}

.App-link {
  color: var(--second-color);
  text-decoration-line: none;
}

.App-link:hover {
  font-weight: 500;
  color: var(--second-color);
}

@media (max-width: 900px) {
  .App {
    margin: 20px;
  }
}
