:root {
  --first-color: #76aeb4;
  --second-color: #76b49b;
  --second-color-faded: rgba(88, 135, 116, 0.5);
}

.todaysTemp {
  font-size: 50px;
  font-weight: 700;
}

.degrees {
  font-weight: 400;
  text-shadow: none;
  font-size: 40px;
}

.mid-col-features ul {
  list-style: none;
  font-size: larger;
}

.response {
  text-shadow: none;
  font-weight: 750;
  font-size: 25px;
}

.right-col-display {
  text-align: right;
}

.city {
  font-weight: 700;
}

@media (max-width: 800px) {
  .right-col-display {
    text-align: Center;
  }

  .city,
  .city-desc {
    font-size: 14px;
  }

  .todaysTemp,
  .degrees {
    font-size: 24px;
  }

  .mid-col-features {
    font-size: 9px;
  }

  .mid-col-features li {
    line-height: 32px;
  }

  .response {
    font-size: 15px;
  }

  h1 {
    padding-bottom: 20px;
  }

  .left-col {
    padding-left: 35px;
  }
}
