:root {
  --first-color: #76aeb4;
  --second-color: rgb(88, 135, 116);
  --second-color-faded: rgba(88, 135, 116, 0.5);
}
.Weather {
  border: 3px var(--second-color-faded) ridge;
  border-radius: 7px;
  margin-top: 10px;
  text-align: left;
  padding: 30px;
  background-color: aliceblue;
  color: var(--first-color);
  text-shadow: 1px 1px #4b6f73;
  text-transform: capitalize;
}

.search-button {
  background-color: var(--second-color-faded);
  border: 1px var(--second-color-faded) solid;
}

.convert-btn {
  font-size: x-large;
}

@media (max-width: 900px) {
  .form-control,
  .search-button {
    font-size: 10px;
  }
}
