:root {
  --first-color: #76aeb4;
  --second-color: #588774;
}
.Weather {
  border: 1px var(--second-color) solid;
  border-radius: 7px;
  margin-top: 10px;
  text-align: left;
  padding: 30px;
  background-color: aliceblue;
  color: var(--first-color);
  text-shadow: 1px 1px #4b6f73;
  text-transform: capitalize;
}

.Weather h2,
.Weather h3 {
  text-align: right;
}

.Weather ul {
  list-style: none;
  font-size: larger;
}

.button {
  background-color: var(--second-color);
}

.second-color {
  color: var(--second-color);
  text-shadow: none;
  font-weight: 750;
}

.convert-btn {
  font-size: x-large;
}
